<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head') %>
    <title>Oops!</title>
</head>
<body class="bg-light">
    <div class="text-center">
        <h1 class="text-center col-12">404! Shaco no encontrado!</h1>
    </div>
    <div class="text-center">
        <img src="/images/shaco-404.png" class="mx-auto d-block" alt="shaco-not-found">
    </div>
</body>
</html>