<form action="/products/store" method="POST">
    <div class="row product-detail">

        <div class="col-12 col-md-6">
            <label for="category" class="form-label">Nombre del campeon:</label>
            <select id="name" name="name"  class="form-input">
                <option value="">Ahri</option>
                <option value="">Akali</option>
                <option value="">Allistar</option>
                <option value="">Amumu</option>
                <option value="">Annie</option>
                <option value="">Ashe</option>
                <option value="">Aurelion Sol</option>
                <option value="">Blitzcrank</option>
                <option value="">Braum</option>
                <option value="">Camille</option>
                <option value="">Dr.Mundo</option>
                <option value="">Evelynn</option>
                <option value="">Ezreal</option>
                <option value="">Fiora</option>
                <option value="">Fizz</option>
                <option value="">Garen</option>
                <option value="">Gragas</option>
                <option value="">Graves</option>
                <option value="">Janna</option>
                <option value="">Jarvan IV</option>
                <option value="">Jax</option>
                <option value="">Jhin</option>
                <option value="">Jinx</option>
                <option value="">Kai’Sa</option>
                <option value="">Lee Sin</option>
                <option value="">Graves</option>
                <option value="">Lux</option>
                <option value="">Maestro Yi</option>
                <option value="">Malphite</option>
                <option value="">Miss Fortune</option>
                <option value="">Nami</option>
                <option value="">Nasus</option>
                <option value="">Olaf</option>
                <option value="">Orianna</option>
                <option value="">Seraphine</option>
                <option value="">Shyvana</option>
                <option value="">Singed</option>
                <option value="">Sona</option>
                <option value="">Soraka</option>
                <option value="">Tryndamere</option>
                <option value="">Twisted Fate</option>
                <option value="">Varus</option>
                <option value="">Vayne</option>
                <option value="">Vi</option>
                <option value="">Xin Zhao</option>
                <option value="">Yasuo</option>
                <option value="">Zed</option>
                <option value="">Ziggs</option>
                
            </select>
        </div>

        <div class="col-12 col-md-6">
            <label for="category" class="form-label">tipo:</label>
            <select name="tipo" id="tipo" class="form-input">
                <option value="">asesino</option>
                <option value="">luchador</option>
                <option value="">mago</option>
                <option value="">tirador</option>
                <option value="">supporte</option>
                <option value="">tanque</option>
              
                
                
            </select>
        </div>

       <!--  <div class="col-12 col-md-6">
            <label for="price" class="form-label">Descripcion juego ofensivo:</label>
            <input type="text" id="price" name="price" placeholder="Ej: 5678" class="form-input">
        </div>
        <div class="col-12 col-md-6">
            <label for="discount" class="form-label">Descripcion juego defensivo:</label>
            <input type="text" id="price" name="price" placeholder="Ej: 5678" class="form-input">
        </div> -->
       
        <div class="col-12">
            <label for="description" class="form-label">vida:</label>
            <input type="text" id="vida" name="vida" placeholder="Ej: 5678" class="form-input">
        </div>

        <div class="col-12">
            <label for="description" class="form-label">mana:</label>
            <input type="text" id="mana" name="mana" placeholder="Ej: 5678" class="form-input">
        </div>

        <div class="col-12">
            <label for="description" class="form-label">regMana:</label>
            <input type="text" id="regMana" name="regMana" placeholder="Ej: 5678" class="form-input">
        </div>

        <div class="col-12">
            <label for="description" class="form-label">velocidad:</label>
            <input type="text" id="velocidad" name="velocidad" placeholder="Ej: 5678" class="form-input">
        </div>

        <div class="col-12">
            <label for="description" class="form-label">daño:</label>
            <input type="text" id="daño" name="daño" placeholder="Ej: 5678" class="form-input">
        </div>
        <div class="col-12">
            <label for="description" class="form-label">velAtaque:</label>
            <input type="text" id="velAtaque" name="velAtaque" placeholder="Ej: 5678" class="form-input">
        </div>
        <div class="col-12">
            <label for="description" class="form-label">rango:</label>
            <input type="text" id="rango" name="rango" placeholder="Ej: 5678" class="form-input">
        </div>

        <div class="col-12">
            <button type="submit" class="buy-now-button">guardar Guia</button>
        </div>
    </div>
</form>

