<<<<<<< HEAD

<head>
  <link rel="stylesheet" href="css/style_header.css"> 
</head>

<header>
<nav class="navbar navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand">LOL Colombia</a>
=======
<nav class="navbar navbar-dark bg-secondary">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">
      <img src="/images/logo.png" alt="logo" width="60" class="img-logo">LOL Colombia</a>
>>>>>>> 66a78192f79247b782d8fa19ef8aef952778da61
      <form class="d-flex">
        
        <nav class="navbar navbar-expand-lg">
          <div class="container-fluid">
            <div class="collapse navbar-collapse" id="navbarScroll">
              <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
                <li class="nav-item">
                  <a href="/users/profile">
                    <img src="/images/avatars/default.png" alt="avatar" width="40" style="border-radius: 100%">Hi User
                  </a>
                  <ul class="dropdown-menu">
                    <li>Profile</li>
                    <li>Logout</li>
                  </ul>
                </li>
                <li class="nav-item">
                  <a href="/users/login">Login</a>
                </li>
                <li>
                  <a href="/users/register">Registrate</a>
                </li>
              </ul>
                
            </div>
          </div>
        </nav>
      </form>
<<<<<<< HEAD
    </div>
  </nav>

</header>
=======
  </div>
</nav>
>>>>>>> 66a78192f79247b782d8fa19ef8aef952778da61
